/* ----- POPPINS FONT Link ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ----- BASE ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --body-color: rgb(250, 250, 250);
    --nav-color: rgba(249, 112, 52, 0.9); /* Updated to be slightly transparent */
    --color-white: rgb(255, 255, 255);

    --text-color-second: rgb(255, 255, 255);
    --text-color-third: rgb(30, 159, 171);

    --first-color: rgb(255, 255, 255);
    --first-color-hover: rgb(40, 91, 212);

    --second-color: rgb(0, 201, 255);
    --third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.1);
}

/* ----- SMOOTH SCROLL ----- */
html {
    scroll-behavior: smooth;
}

/* ----- NAVIGATION BAR ----- */
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically center */
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: var(--nav-color);
    padding-inline: 1vw;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    z-index: 100;
}

.nav-logo img {
    display: block; /* Ensure the image is displayed as a block */
    max-width: 100%; /* Make sure the image scales properly */
    height: auto; /* Maintain the aspect ratio */
    width: 300px;
}

.nav-menu, .nav_menu_list {
    display: flex;
}

.nav-menu .nav_list {
    list-style: none;
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
    position: relative; /* For the underline to be positioned correctly */
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: var(--first-color);
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in;
}

.nav-link:hover::after,
.nav-link.active-link::after {
    width: 100%;
}

.active-link {
    color: var(--first-color);
    transition: color 0.3s ease-in-out;
}


/* Banner Section */
.banner {
    position: relative;
    height: 70vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('about_us_0b0537a706.png') no-repeat center center/cover;
    transform: translateZ(-1px) scale(2); /* Parallax effect */
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); /* Creates the slanted bottom */
}

.banner-content {
    text-align: center;
    z-index: 1;
}

.content {
    padding: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 20px auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}


.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex-basis: calc(25% - 20px); /* 4 cards per row with some margin */
    box-sizing: border-box;
    overflow: hidden;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 185px;
    display: block;
}

.description {
    padding: 15px;
}

.description h3 {
    font-size: 16px;
    margin: 0;
    overflow: hidden;
    display: -webkit-box; 
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.pagination button {
    margin: 0 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
}
.pagination button:hover {
    background-color: var(--nav-color);
}
.pagination button.active {
    background-color: var(--nav-color);
    cursor: default;
    color: white;
    border-radius: 10px;
}
.description p {
    margin: 0;
    color: #666;
    
}


.dropbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    margin-inline-start: 15px;
    margin-inline-end: -25px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  .button-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
  }
  
  .button-group {
    display: flex;
    margin-right: 20px;
  }
  
  label {
    margin-right: 5px;
    
  }
  
  select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }

